.edit--button {
    background-color: #70a7d8 !important;
}

.categoria--button {
    background-color: #2e3d50 !important;
}

.cancel--button {
    background-color: #CBD6E0 !important;
    color: black !important; 
}

.custom--table thead {
    background-color: #70a7d8;
}

.custom--table th {
    background-color: #70a7d8;
    color: white;
    font-weight: 600;
}