.fs {
    font-size: 16px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fondo {
    background-color: #EFEFEF
}

.input-size {
    height: 50px !important;
}

.icon-w10 {
    width: 10% !important;
}

.icon-w50 {
    width: 50% !important;
}

.icon-w100 {
    width: 100% !important;
}

.input-w90 {
    width: 90% !important;
}

.input-h50 {
    height: 50px !important;
}

.icon-w30 {
    width: 30% !important;
}

.fw-b {
    font-weight: bold;
}

.span-background {
    background-color: white !important;
    border: none !important;
}

a {
    text-decoration: none !important;
}

.images-card{
    width: 75px;
    height: 75px;
}

.image-material-card{
    width: 150px;
    height: 150px;
    padding-bottom: 5px;
}

.MuiCardMedia-img{
    object-fit:contain;
}